@* @page "/login" *@
@* @inject HttpClient HttpClient *@
@* @inject NavigationManager Navigation *@


@* <h3>Connexion</h3> *@

@* <EditForm Model="loginModel" OnValidSubmit="HandleLogin"> *@
@*     <DataAnnotationsValidator /> *@
@*     <div> *@
@*         <label>Nom d'utilisateur :</label> *@
@*         <InputText @bind-Value="loginModel.Username" /> *@
@*     </div> *@
@*     <div> *@
@*         <label>Mot de passe :</label> *@
@*         <InputText @bind-Value="loginModel.Password" type="password" /> *@
@*     </div> *@
@*     <button type="submit">Se connecter</button> *@
@* </EditForm> *@
